* {
	margin: 0;
	padding: 0;
}

body {
	background: url("../images/reaper.jpg") center center fixed;
	color: #fff;
	font-family: 'Special Elite' , cursive;
}

h1 {
	margin-left: 55px;
}

.container {
	margin-top: 135px;
	margin-left: 80px;
}

#placeholder {
	text-align: center;
}




